<main>
    <div class="logo">
        <a href="/">
            <img src="../../assets/svg/logo.svg" alt="">
        </a>
    </div>
    <div class="texto">
        <h1>Privacidad</h1>
        <p>En Social Link, nos tomamos la privacidad de nuestros usuarios muy en serio.
            <br><br>
            <span>Información Recopilada:</span> Recopilamos información personal como nombre, dirección de correo
            electrónico y
            datos de perfil cuando te registras en Social Link. También recopilamos datos de uso, como la actividad en
            la plataforma y la interacción con otros usuarios.
            <br><br>
            <span>Uso de la Información:</span> Utilizamos tu información personal para gestionar tu cuenta,
            proporcionarte acceso a
            funciones de la plataforma y personalizar tu experiencia en Social Link. Además, utilizamos datos de uso
            para mejorar nuestros servicios y ofrecerte contenido relevante.
            <br><br>
            <span>Compartir Información:</span> No compartimos tu información personal con terceros sin tu
            consentimiento, excepto en
            casos específicos descritos en nuestra política de privacidad.
        </p>
    </div>
</main>