<main>
    <div class="logo">
        <a href="/">
            <img src="../../assets/svg/logo.svg" alt="">
        </a>
    </div>
    <div class="texto">
        <h1>Condiciones</h1>
        <p><span>Uso Adecuado:</span> Debes utilizar Social Link de manera responsable y respetuosa, evitando cualquier
            actividad que
            pueda infringir los derechos de otros usuarios o causar daño a la plataforma.
            <br><br>
            <span>Contenido Apropiado:</span> Está prohibido publicar contenido que sea ilegal, difamatorio, obsceno, o
            que promueva
            la violencia o el odio.
            <br><br>
            <span>Privacidad:</span> Respetamos tu privacidad. Sin embargo, al utilizar Social Link, aceptas nuestras
            políticas de
            privacidad y el uso de tus datos de acuerdo con las mismas.
            <br><br>
            Al aceptar estas condiciones, te comprometes a utilizar Social Link de manera responsable y a respetar los
            derechos de los demás usuarios.
        </p>
    </div>
</main>