main {
    max-height: 75vh;
    overflow-y: auto;
    /* Agrega un desplazador vertical cuando el contenido supera la altura */
}

/* Estilo para navegadores que soportan scrollbar-color y scrollbar-width (Firefox) */
main {
    scrollbar-color: #0C3AC3 transparent;
    /* Color de la barra de desplazamiento y de la pista */
    scrollbar-width: none;
    /* Ancho del scrollbar */
}

.publicacion {
    background-image: url(../../assets/svg/cuadradograndepubli.svg);
    width: calc((192vw / 4.598));
    height: calc((192vw / 4.598)/4.598);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tweet:not(:first-child) {
    margin-top: 4vh;
}

.partearriba {
    display: flex;
    margin-top: 2vh;
    margin-right: 1.5vw;
    width: 35vw;
    height: 4vh;
    align-items: center;
    display: flex;
    align-items: center;
}

.nombre>a {
    color: #0C3AC3;
    font-size: 1vw;
    margin-left: 1vw;
    text-decoration: none;
}

.usuario>p {
    color: #0EB2F4;
    font-size: 0.8vw;
    margin-left: 0.5vw;
}

.fecha>p {
    color: #0C3AC3;
    font-size: 0.6vw;
    margin-left: 0.5vw;
}

.foto>img {
    background-color: #0EB2F4;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 4vw;
}

.texto {
    display: flex;
    margin-right: 1.5vw;
    width: 35vw;
    height: 7.5vh;
    align-items: start;
}

.texto>p {
    color: #0EB2F4;
    font-size: 0.85vw;
    margin-left: 6vw;
}

.parteinf {
    display: flex;
    margin-right: 1.5vw;
    width: 35vw;
    height: 4vh;
    margin-bottom: 1vh;
    justify-content: space-evenly;
    align-items: center;
}

.interaccion {
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    border: 0.1vw solid transparent;
}

.interaccion>img {
    height: auto;
    width: 1.25vw;
}

.interaccion>p {
    margin-left: 0.25vw;
    color: #0C3AC3;
    font-size: 0.75vw;
}

.respuesta {
    background-image: url(../../assets/svg/cuadradorespuesta.svg);
    width: calc((146vw / 4.803));
    height: calc((146vw / 4.803)/4.803);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7.5vw;
}

.partearribares {
    display: flex;
    margin-top: 1vh;
    margin-right: 1.25vw;
    width: 25vw;
    height: 3.25vh;
    align-items: center;
    display: flex;
    align-items: center;
}

.nombreres>a {
    color: #0C3AC3;
    font-size: 0.8vw;
    margin-left: 0.75vw;
    text-decoration: none;
}

.usuariores>p {
    color: #0EB2F4;
    font-size: 0.6vw;
    margin-left: 0.35vw;
}

.fechares>p {
    color: #0C3AC3;
    font-size: 0.5vw;
    margin-left: 0.35vw;
}

.fotores>img {
    background-color: #0EB2F4;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 3.25vw;
}

.textores {
    display: flex;
    margin-right: 1.25vw;
    width: 25vw;
    height: 4.5vh;
    align-items: start;
}

.textores>p {
    color: #0EB2F4;
    font-size: 0.75vw;
    margin-left: 5vw;
}

.parteinfres {
    display: flex;
    margin-right: 1.25vw;
    width: 25vw;
    height: 3.25vh;
    margin-bottom: 0.75vh;
    justify-content: space-evenly;
    align-items: center;
}

.interaccionres {
    display: flex;
    align-items: center;
    border: 0.1vw solid transparent;
    border-radius: 0.5vw;
}

.interaccionres>img {
    height: auto;
    width: 1vw;
}

.interaccionres>p {
    margin-left: 0.25vw;
    color: #0C3AC3;
    font-size: 0.65vw;
}





.publicarres {
    background-image: url(../../assets/svg/cuadradorespuesta.svg);
    width: calc((146vw / 4.803));
    height: calc((146vw / 4.803)/4.803);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7.5vw;
}

.publicarres>textarea {
    margin-top: 2vh;
    margin-right: 1.5vw;
    height: 10vh;
    width: 25vw;
    resize: none;
    color: #0EB2F4;
    font-size: 0.75vw;
    border: none;
    outline: none;
}

.publicarres>textarea::placeholder {
    color: #0EB2F4;
    font-size: 0.75vw;
}

.parteinfres1 {
    display: flex;
    margin-right: 1.25vw;
    width: 25vw;
    height: 3.25vh;
    margin-bottom: 0.75vh;
    justify-content: space-evenly;
    align-items: center;
}

.publicarresbot {
    background-image: url(../../assets/svg/botonpublicar.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: calc((25vw / 4.107));
    height: calc((25vw / 4.107)/4.107);
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 16vw;
    margin-bottom: 1vh;
}

.publicarresbot>p {
    font-size: 0.75vw;
    color: #0C3AC3;
}


.fotopub {
    height: 6vh;
    width: auto;
    margin-left: 1vw;
}

.fotopub>img {
    height: 100%;
    width: auto;
}

.liked {
    background-color: #0EB2F4;
}

.interaccion:hover {
    background-color: #0EB2F4;
}

.interaccionres:hover {
    background-color: #0EB2F4;
}