<main>
  <div class="logo">
    <img src="../../assets/svg/logo.svg" alt="">
  </div>
  <div class="forms">
    <div class="boton">
      <a href="/registro">
        <img src="../../assets/svg/registrateletra.svg" alt="">
      </a>
    </div>
    <div class="boton">
      <a href="/iniciosesion">
        <img src="../../assets/svg/iniciasesionletra.svg" alt="">
      </a>
    </div>
  </div>
  <div class="info">
    <div class="text">
      <a href="/informacion">
        <p>Información</p>
      </a>
    </div>
    <div class="text">
      <a href="/condiciones">
        <p>Condiciones</p>
      </a>
    </div>
    <div class="text">
      <a href="/privacidad">
        <p>Privacidad</p>
      </a>
    </div>
  </div>
</main>