<main>
    <div class="logo">
        <a href="/">
            <img src="../../assets/svg/logo.svg" alt="">
        </a>
    </div>
    <div class="texto">
        <h1>Información</h1>
        <p>¡Bienvenido a Social Link! Somos una comunidad en línea diseñada para conectar a personas de todo el mundo.
            <br>
            En nuestra plataforma, puedes compartir tus pensamientos, seguir a tus personalidades favoritas y participar
            en conversaciones significativas.
            <br>
            <br>
            Creemos en la importancia de la conexión humana y nos esforzamos por ofrecer un espacio seguro y acogedor
            donde todos puedan expresarse libremente.
            <br>
            <br>
            Nuestra visión es crear un espacio digital inclusivo donde la diversidad sea celebrada y cada usuario se
            sienta valorado y respetado.
            <br>
            <br>
            Únete a nosotros mientras trabajamos juntos para hacer del mundo digital un lugar más conectado y compasivo
            para todos.
        </p>
    </div>
</main>