main {
    height: 100vh;
    width: 100vw;
    background-image: url(../../assets/svg/fondoinicio.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.izquierda {
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.miniperfil {
    height: 24vh;
    width: 12.5vw;
    margin-right: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto>img {
    background-color: #0EB2F4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 10vw;
    height: auto;
    margin-left: 1vw;
}

.nombre {
    color: #0C3AC3;
    font-size: 1.75vw;
    margin-top: 1vh;
}

.usuario {
    color: #0EB2F4;
    font-size: 1vw;
    margin-top: 0.75vh;
}

.botones {
    height: 42vh;
    width: 16vw;
    margin-bottom: 15vh;
    margin-right: 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.boton {
    width: calc((65vw / 4.218));
    height: calc((65vw / 4.218)/4.218);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0C3AC3;
    text-decoration: none;
}

.boton:hover {
    background-image: url(../../assets/svg/bordeazul.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.boton>img {
    width: 1.25vw;
    height: auto;
}

.boton>p {
    font-size: 1.75vw;
    margin-right: 1.25vw;
    margin-left: 0.25vw;
}

.cerrarsesion {
    margin-right: 5vw;
}

.cerrarsesion>a {
    width: calc((60vw / 4.218));
    height: calc((60vw / 4.218)/4.218);
}

.cerrarsesion>a>p {
    font-size: 1.5vw;
}

.centro {
    height: 100vh;
    width: 48vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

app-publicar,
app-notificaciones,
app-explorar,
app-listas {
    margin-top: 2.5vh;
}

app-feed {
    margin-top: 4vh;
}

.derecha {
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tendencias {
    height: 35vh;
    width: 16vw;
    margin-bottom: 5vh;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tendencias>p {
    font-size: 2.5vw;
    color: #0C3AC3;
}

.tendencia>p {
    color: #0C3AC3;
    font-size: 1.75vw;
}

.recomendados {
    height: 24vh;
    width: 12.5vw;
    margin-left: 3.5vw;
    margin-bottom: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recomendados>p {
    font-size: 2.5vw;
    color: #0C3AC3;
    margin-bottom: 2vh;
}

.perfil>img {
    width: 12vw;
    height: auto;
}