main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.logo {
    padding-top: 5vh;
}

.logo>a>img {
    width: 18vw;
    height: auto;
}

.cuadroregistro {
    background-image: url(../../assets/svg/cuadroregistro.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: calc((40vw / 1.127));
    height: calc((40vw / 1.127)/1.127);
    margin-top: 7.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    color: #0C3AC3;
    font-size: 2.1vw;
    margin-top: 4vh;
}

.campos {
    display: flex;
    flex-wrap: wrap;
    width: 32vw;
    height: 40vh;
    margin-top: 4vh;
    justify-content: space-evenly;
}

.campo {
    background-image: url(../../assets/svg/campo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: calc((150vw / 9.59));
    height: calc((150vw / 9.59)/9.59);
    display: flex;
    justify-content: center;
}

.nombrecampo {
    color: #0C3AC3;
    font-size: 0.65vw;
}

input {
    background-color: transparent;
    width: 12vw;
    font-size: 1vw;
    color: #0C3AC3;
    margin-left: 0.25vw;
    margin-top: 0.5vh;
    outline: none;
    border: none;
}

input::placeholder {
    color: #0EB2F4;
    font-size: 0.75vw;
}

.registrarse {
    background-image: url(../../assets/svg/botonazul.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: calc((32vw / 3.246));
    height: calc((32vw / 3.246)/3.246);
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
}

.registrarse>p {
    margin-bottom: 0.75vh;
    color: #0C3AC3;
    font-size: 1.2vw;
}

/* Para Chrome, Safari y Opera */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Para Internet Explorer */
input[type="date"]::-ms-clear {
    display: none;
}

input[type="date"]::-ms-input-placeholder {
    color: transparent;
}